@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(228, 10%, 10%);
  color: hsl(0, 0%, 94%);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.App {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  background-color: hsl(228, 7%, 14%);
}

.header-sub-container-one {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  background-color: hsl(228, 10%, 10%);
}

.header-image{
  width: 2.25rem;
  height: 2.25rem;
}

.header-title-link {
  color: inherit;
  text-decoration: none;
}

.header-title {
  font-size: 1.8rem;
}

.header-sub-container-two {
  display: flex;
  align-items: center;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  background-color: hsl(228, 10%, 10%);
}

.baz-image-link {
  
}

.baz-image {
  display: block;
  width: 3.4rem;
}

.collection-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: hsl(228, 7%, 14%);
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
}

.collection-info-sub-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  background-color: hsl(225, 7%, 11%);
}

.collection-toggle-button {
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  background-color: inherit;
  color: inherit;
  line-height: normal;
}

.fa-solid {
  background-color: inherit;
  color: inherit;
}

.collection-toggle-button:hover {
  color: hsl(221, 59%, 70%);
  border: 0.15rem solid hsl(221, 59%, 70%);
}

.collection-title-sub-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
}


.collection-title-image {
  display: block;
  width: 1rem;
}

.collection-title-label {

}

.collection-title {
  color: hsl(221, 59%, 70%);
  font-weight: bold;
}

.collection-total-sub-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
}

.collection-total-label {
  
}

.collection-total{
  color: hsl(159, 50%, 67%);
}

.kata-container {
  display: flex;
  gap: 0.25rem;
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  background-color: hsl(225, 7%, 11%);
}

.kata-sub-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

.collection-number {
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  color: hsl(221, 59%, 70%);
}

.kata-level {
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  font-weight: bold;
}

.kata-id {
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  font-size: 0.8rem;
  color: hsl(240, 1%, 51%);
}

.kata-title-and-link {
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  color: hsl(221, 59%, 70%);
  font-weight: bold;
}

.kata-complete-image {
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  width: 39px;
  height: 39px;
}

.kata-complete-status-true {
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  color: hsl(159, 50%, 67%);
  
}

.kata-complete-status-false {
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  color: hsl(28, 53%, 60%);
}

.kata-my-link {
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  color: hsl(253, 42%, 60%);
}