@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

body {
  display: flex;
  flex-direction: column;
  background-color: hsl(228, 10%, 10%);
  color: hsl(0, 0%, 94%);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}

.header-container {
  display: flex;
  gap: 0.25rem;
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  background-color: hsl(228, 7%, 14%);
}

.header-sub-container-one {
  display: flex;
  align-items: center;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  background-color: hsl(228, 10%, 10%);
}

.baz-image-link {}

.baz-image {
  display: block;
  width: 3.4rem;
}

.header-sub-container-two {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  background-color: hsl(228, 10%, 10%);
}

.header-image{
  /* width: 2.25rem;
  height: 2.25rem; */
}

.header-title-link {
  color: inherit;
  text-decoration: none;
}

.header-title {
  font-size: 1.8rem;
}

.collection-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: hsl(228, 7%, 14%);
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
}

.collection-info-sub-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  background-color: hsl(225, 7%, 11%);
}

.collection-info-sub-container > * {
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
}

.collection-toggle-button {
  background-color: inherit;
  color: inherit;
  line-height: normal;
  cursor: pointer;
}

.collection-toggle-button:hover {
  color: hsl(221, 59%, 70%);
  border: 0.15rem solid hsl(221, 59%, 70%);
}

.fa-solid {
  background-color: inherit;
  color: inherit;
}

.collection-title-sub-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.collection-title-image {
  display: block;
  width: 1rem;
}

.collection-title-label {

}

.collection-title {
  color: hsl(221, 59%, 70%);
  font-weight: bold;
}

.collection-title:hover {
  color: hsl(221, 59%, 80%);
}

.collection-total-sub-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.collection-total-label {
  
}

.collection-total{
  color: hsl(159, 50%, 67%);
}

.kata-container {
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
  background-color: hsl(225, 7%, 11%);
}

.kata-sub-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 0.25rem;
}

.kata-sub-container > * {
  padding: 0.5rem;
  border: 0.15rem solid hsl(240, 4%, 22%);
  border-radius: 0.3rem;
}

.collection-number {
  color: hsl(221, 59%, 70%);
}

.kata-rank-container {
  padding: 0.25rem;
}

.kata-rank-hexagon {
  display: flex;
}

.kata-rank-hexagon-left-outside {
  position: relative;
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  width: 10px;
  height: 26px;
  /* background: hsl(45, 85%, 50%); */
}

.kata-rank-hexagon-left-inside {
  position: absolute;
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  top: 4px;
  left: 4px;
  right: 0px;
  bottom: 4px;
  background: black;
}

.kata-rank-hexagon-body {
  padding-top: 4px;
  background: black;
  font-size: 0.6rem;
  font-weight: bold;
}

.kata-rank-hexagon-right-outside {
  position: relative;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  width: 10px;
  height: 26px;
}

.kata-rank-hexagon-right-inside {
  position: absolute;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  top: 4px;
  left: 0px;
  right: 4px;
  bottom: 4px;
  background: black;
}

.kata-rank-8,
.kata-rank-7 {
  border-top: 3px solid hsl(0, 0%, 90%);
  border-bottom: 3px solid hsl(0, 0%, 90%);
  color: hsl(0, 0%, 90%);
}

.kata-rank-6,
.kata-rank-5 {
  border-top: 3px solid hsl(45, 85%, 50%);
  border-bottom: 3px solid hsl(45, 85%, 50%);
  color: hsl(45, 85%, 50%);
}

.kata-rank-hexagon-outside-rank-8,
.kata-rank-hexagon-outside-rank-7 {
  background: hsl(0, 0%, 100%);
}

.kata-rank-hexagon-outside-rank-6, 
.kata-rank-hexagon-outside-rank-5 {
  background: hsl(45, 85%, 50%);
}

.kata-id {
  font-size: 0.8rem;
  color: hsl(240, 1%, 51%);
}

.kata-title-and-link {
  color: hsl(221, 59%, 70%);
  font-weight: bold;
}

.kata-title-and-link:hover {
  color: hsl(221, 59%, 80%);
}

.kata-complete-image {
  padding: 0;
  width: 39px;
  height: 39px;
}

.kata-complete-status-true {
  color: hsl(159, 50%, 67%);
}

.kata-complete-status-false {
  color: hsl(28, 53%, 60%);
}

.kata-my-link-complete {
  font-weight: bold;
  color: hsl(253, 42%, 60%);
}

.kata-my-link-complete:hover {
  color: hsl(253, 42%, 70%);
}

.kata-my-link-incomplete {
  font-weight: bold;
  color: hsl(240, 1%, 51%);
}